mat-toolbar {
    z-index: 1;
}

mat-sidenav {
    width: 200px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.mat-sidenav-container {
    background: whitesmoke;
    flex: 1;
}

.nav-link {
    color: rgba(0,0,0,.54);
    display: flex;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}